body {
  font-family: "Work Sans", sans-serif;
}

.overlaye {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.container {
  margin: auto;
  padding: 0 20px;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: #000;
}

header .eccentric .geamepad {
  display: inline-block;
  color: #00d679;
  font-size: 40px;
}

.eccentric {
  float: left;
}

.eccentric h3 {
  color: #00d679;
  display: inline;
  margin-left: 10px;
  font-weight: bold;
  font-size: 35px;
}

.links {
  float: right;
  margin-top: 5px;
}

.links ul {
  list-style: none;
  font-weight: bold;
}

.links ul li {
  color: #fff;
  display: inline-block;
  margin-right: 10px;
}

.links ul li a {
  text-decoration: none;
  color: #fff;
}

.links ul li:first-of-type a {
  color: #00d679;
}
/* End Header */

/* start Main Banner */
.img-johnson {
  height: 700px;
  background-image: url("../image/mainimage.jpg");
  background-size: 100% 1350px;
  overflow: hidden;
}

.info-to-johnson {
  color: #fff;
  position: relative;
  top: 150px;
}

.info-to-johnson h3 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 0;
}

.info-to-johnson h3 small {
  font-weight: 400;
  font-size: 40px;
}

.info-to-johnson p {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  line-height: 32px;
  max-width: 750px;
}

.info-to-johnson button {
  padding: 12px 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 10px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.info-to-johnson button:first-of-type {
  background-color: #e2e6ea;
}

.info-to-johnson button:last-of-type {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

.info-to-johnson button:last-of-type:hover {
  background-color: #fff;
  color: #000;
}
/* End Main Banner */
/* Start Developer */
.developer {
  margin-top: 100px;
  overflow: hidden;
}

.developer .photo {
  float: left;
  margin-right: 50px;
}

.developer .developer-info {
  width: 104%;
}

.developer .developer-info h3 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700px;
}

.developer .developer-info p {
  line-height: 30px;
  color: #777;
  margin-bottom: 50px;
}

.developer .developer-info button {
  padding: 12px 30px;
  font-weight: 700;
  background-color: #00b063;
  cursor: pointer;
  color: #fff;
  border: 0;
}
/* End Developer */
/* Start Our Wotk */
.our-grid {
  margin-top: 100px;
  overflow: hidden;
}

.our-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-work > div {
  width: calc(96% / 3);
  text-align: center;
  background-color: #f8f9fa;
  margin-bottom: 30px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.our-work i {
  margin-top: 20px;
  color: #00d679;
  font-size: 35px;
}

.our-work h3 {
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
}

.our-work p {
  color: #a4a4a5;
}

.our-work div:first-of-type:hover {
  background-image: url("../image/g1.jpg");
  background-size: cover;
}

.our-work div:nth-of-type(2):hover {
  background-image: url("../image/g2.jpg");
  background-size: cover;
}

.our-work div:nth-of-type(3):hover {
  background-image: url("../image/g3.jpg");
  background-size: cover;
}

.our-work div:nth-of-type(4):hover {
  background-image: url("../image/g4.jpg");
  background-size: cover;
}

.our-work div:nth-of-type(5):hover {
  background-image: url("../image/g5.jpg");
  background-size: cover;
}

.our-work div:nth-of-type(6):hover {
  background-image: url("../image/g6.jpg");
  background-size: cover;
}
/* End Our Work */

/* Start Gallery */
.gallery {
  background-color: #f8f9fa;
  margin-top: 50px;
  padding: 100px;
}

.gallery .big-img {
  overflow: hidden;
}

.gallery .big-img img {
  border-radius: 5px;
  width: 100%;
}

.gallery .small-img {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 80px;
  overflow: hidden;
}

.gallery .small-img > div {
  width: calc(97% / 6);
}

.gallery .small-img > div img {
  width: 100%;
}
/* End Gallery */

/* Start Lap */
.lap {
  text-align: center;
  overflow: hidden;
}

.lap .lap-img {
  margin-top: 100px;
}

.lap .lap-info {
  margin-bottom: 80px;
}

.lap .lap-info h3 {
  font-size: 35px;
  line-height: 40px;
  font-weight: bold;
}

.lap .lap-info h5 {
  font-size: 25px;
  line-height: 30px;
  color: #777;
}

.lap .lap-info p {
  font-size: 17px;
  line-height: 26px;
  color: #777;
}

.lap .lap-info button {
  padding: 12px 30px;
  background-color: #00b063;
  color: #fff;
  margin-top: 20px;
  border: 0;
}

/* End Lap */

/* Start Robin */
.robin {
  overflow: hidden;
  background-image: url("../image/g5.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 50px 0 30px 0;
  position: relative;
}

.robin .overlaye {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.robin .pra-robin {
  position: relative;
  z-index: 2;
  float: left;
  width: 70%;
}

.robin .pra-robin h4 {
  font-size: 33px;
  color: #eee;
  line-height: 42px;
  font-weight: 700;
}

.robin .full {
  text-align: center;
  float: left;
  position: relative;
  z-index: 2;
  top: 40px;
  left: 150px;
}

.robin .full .img-robin img {
  border-radius: 50%;
  width: 120px;
}

.robin .full .robin-name {
  color: #fff;
}

.robin .full .robin-name h2 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0;
}

.robin .full .robin-name h3 {
  margin-top: 5px;
  color: #ccc;
}
/* End Robin */

/* Start Freelance */
.freelance {
  margin-top: 100px;
  overflow: hidden;
}

.freelance .row {
  display: flex;
  justify-content: space-between;
}

.freelance .row .pragraph {
  width: 45%;
  margin-right: 30px;
}

.freelance .row .pragraph h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}

.freelance .row .pragraph h3 {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  color: #777;
}

.freelance .row .pragraph p {
  font-size: 17px;
  line-height: 26px;
  color: #777;
}

.freelance .row .lance-img {
  width: 52%;
  overflow: hidden;
  position: relative;
}

.freelance .row .lance-img > div {
  position: relative;
}

.freelance .row .lance-img img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.freelance .row .lance-img span:first-of-type {
  position: absolute;
  top: 75%;
  left: 10px;
  padding: 12px 20px;
  background-color: #000;
  color: #fff;
}

/* End Freelance */

/* Start Lets */
.lets {
  margin-top: 100px;
  text-align: center;
  background-image: url("../image/g6.jpg");
  background-size: cover;
  background-position: 0;
  position: relative;
}

.lets .together {
  position: relative;
  z-index: 2;
  padding: 100px;
  color: #000;
}

.lets .together h1 {
  margin-bottom: 50px;
}

.lets .together button {
  padding: 12px 30px;
  margin-right: 10px;
  border: 0;
  font-weight: bold;
}

.lets .together button:first-of-type {
  background-color: #00b063;
  color: #fff;
}
/* End Lets */

/* Start Footer */
footer {
  background-color: #000;
  padding: 20px 0 20px 0;
  overflow: hidden;
}

footer .foot {
  float: left;
  color: #a4a4a5;
}

footer .foot strong {
  color: #ccc;
}

footer .awesome {
  float: right;
}

footer .awesome i {
  color: #fff;
  margin-right: 40px;
}
/* End Footer */

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  header .eccentric .geamepad {
    font-size: 36px;
  }
  .eccentric h3 {
    font-size: 26px;
  }
  header .links {
    display: none;
  }
  .img-johnson {
    height: 530px;
    background-size: 100% 530px;
  }
  .info-to-johnson {
    top: 0;
  }
  .info-to-johnson h3 {
    font-size: 42px;
  }
  .developer .photo {
    width: 100%;
  }
  .developer .photo img {
    max-width: 100%;
  }
  .developer .developer-info h3 {
    font-size: 28px;
  }
  .our-work > div {
    width: 100%;
  }
  .gallery {
    padding: 30px 0;
  }
  .gallery .small-img {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .gallery .small-img > div {
    width: calc(97% / 3);
  }
  .lap .lap-img img {
    max-width: 100%;
  }
  .robin {
    background-size: initial;
  }
  .robin .pra-robin {
    float: initial;
    width: auto;
  }
  .robin .pra-robin h4 {
    font-size: 24px;
  }
  .robin .full {
    float: initial;
    top: 15px;
    left: 0;
  }
  .freelance .row {
    flex-wrap: wrap;
  }
  .freelance .row .pragraph {
    width: 100%;
  }
  .freelance .row .lance-img {
    width: 100%;
  }
  .freelance .row .lance-img span:first-of-type {
    top: 60%;
  }
  .lets {
    background-size: initial;
  }
  .lets .together {
    padding: 20px;
  }
  footer {
    text-align: center;
  }
  footer .foot {
    float: initial;
  }
  footer .awesome {
    float: initial;
    margin-top: 20px;
  }
  footer .awesome i:last-child {
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .gallery {
    padding: 50px;
  }
  .gallery .small-img {
    margin-bottom: 0;
  }
  .lap .lap-img img {
    max-width: 100%;
  }
  .robin .pra-robin {
    float: initial;
    width: auto;
  }
  .robin .full {
    float: initial;
    top: 10px;
    left: 0;
  }
  .freelance .row .lance-img {
    top: 70px;
  }
  .freelance .row .lance-img span:first-of-type {
    top: 60%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .freelance .row .lance-img {
    width: 57%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
